In [3]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Spark MySQL Integration") \
    .config("spark.jars", "C:\\Users\\Praveen Sharma\\Downloads\\mysql-connector-j-9.2.0\\mysql-connector-j-9.2.0\\mysql-connector-j-9.2.0.jar") \
    .getOrCreate()

# MySQL connection properties
mysql_url = "jdbc:mysql://localhost:3306/sakila"
mysql_properties = {
    "user": "root",
    "password": "Mysql!@#123",
    "driver": "com.mysql.cj.jdbc.Driver"
}

# Table to query
table_name = "actor_info "

# Fetch data from MySQL
df = spark.read.jdbc(url=mysql_url, table=table_name, properties=mysql_properties)

# Show the data
df.show()

+--------+----------+------------+--------------------+
|actor_id|first_name|   last_name|           film_info|
+--------+----------+------------+--------------------+
|       1|  PENELOPE|     GUINESS|Animation: ANACON...|
|       2|      NICK|    WAHLBERG|Action: BULL SHAW...|
|       3|        ED|       CHASE|Action: CADDYSHAC...|
|       4|  JENNIFER|       DAVIS|Action: BAREFOOT ...|
|       5|    JOHNNY|LOLLOBRIGIDA|Action: AMADEUS H...|
|       6|     BETTE|   NICHOLSON|Action: ANTITRUST...|
|       7|     GRACE|      MOSTEL|Action: BERETS AG...|
|       8|   MATTHEW|   JOHANSSON|Action: CAMPUS RE...|
|       9|       JOE|       SWANK|Action: PRIMARY G...|
|      10| CHRISTIAN|       GABLE|Action: LORD ARIZ...|
|      11|      ZERO|        CAGE|Action: DANCES NO...|
|      12|      KARL|       BERRY|Action: STAGECOAC...|
|      13|       UMA|        WOOD|Action: ANTITRUST...|
|      14|    VIVIEN|      BERGEN|Action: DRIFTER C...|
|      15|      CUBA|     OLIVIER|Action: MONTEZUMA...|
|      16|      FRED|     COSTNER|Action: EASY GLAD...|
|      17|     HELEN|      VOIGHT|Action: SIDE ARK;...|
|      18|       DAN|        TORN|Action: REAR TRAD...|
|      19|       BOB|     FAWCETT|Action: DARN FORR...|
|      20|   LUCILLE|       TRACY|Action: REAR TRAD...|
+--------+----------+------------+--------------------+
only showing top 20 rows

In [4]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Spark MySQL Integration") \
    .config("spark.jars", "C:\\Users\\Praveen Sharma\\Downloads\\mysql-connector-j-9.2.0\\mysql-connector-j-9.2.0\\mysql-connector-j-9.2.0.jar") \
    .getOrCreate()

# MySQL connection properties
mysql_url = "jdbc:mysql://localhost:3306/sakila"
mysql_properties = {
    "user": "root",
    "password": "Mysql!@#123",
    "driver": "com.mysql.cj.jdbc.Driver"
}

# SQL query for data extraction
sql_query = """
    SELECT
        CONCAT(ac.first_name, ' ', ac.last_name) AS `Actor Name`,
        f.title,
        f.description,
        f.release_year,
        f.rental_duration,
        f.rental_rate,
        f.length,
        f.replacement_cost,
        f.rating,
        f.special_features,
        l.name AS `language name`
    FROM actor_info ac
    LEFT JOIN film_actor AS ft ON ft.actor_id = ac.actor_id
    LEFT JOIN film AS f ON f.film_id = ft.film_id
    LEFT JOIN language AS l ON l.language_id = f.language_id
    WHERE 1=1
"""

# Fetch data from MySQL using the SQL query
df = spark.read.jdbc(url=mysql_url, table=f"({sql_query}) AS subquery", properties=mysql_properties)

# Show the data
df.show()

+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
|      Actor Name|               title|         description|release_year|rental_duration|rental_rate|length|replacement_cost|rating|    special_features|       language name|
+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
|PENELOPE GUINESS|    ACADEMY DINOSAUR|A Epic Drama of a...|  2006-01-01|              6|       0.99|    86|           20.99| PG   |Deleted Scenes,Be...|English             |
|PENELOPE GUINESS|ANACONDA CONFESSIONS|A Lacklusture Dis...|  2006-01-01|              3|       0.99|    92|            9.99| R    |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|         ANGELS LIFE|A Thoughtful Disp...|  2006-01-01|              3|       2.99|    74|           15.99| G    |Trailers         ...|English             |
|PENELOPE GUINESS|BULWORTH COMMANDM...|A Amazing Display...|  2006-01-01|              4|       2.99|    61|           14.99| G    |Trailers         ...|English             |
|PENELOPE GUINESS|       CHEAPER CLYDE|A Emotional Chara...|  2006-01-01|              6|       0.99|    87|           23.99| G    |Trailers,Commenta...|English             |
|PENELOPE GUINESS|  COLOR PHILADELPHIA|A Thoughtful Pano...|  2006-01-01|              6|       2.99|   149|           19.99| G    |Commentaries,Behi...|English             |
|PENELOPE GUINESS|     ELEPHANT TROJAN|A Beautiful Panor...|  2006-01-01|              4|       4.99|   126|           24.99| PG-13|Behind the Scenes...|English             |
|PENELOPE GUINESS| GLEAMING JAWBREAKER|A Amazing Display...|  2006-01-01|              5|       2.99|    89|           25.99| NC-17|Trailers,Commenta...|English             |
|PENELOPE GUINESS|      HUMAN GRAFFITI|A Beautiful Refle...|  2006-01-01|              3|       2.99|    68|           22.99| NC-17|Trailers,Behind t...|English             |
|PENELOPE GUINESS|      KING EVOLUTION|A Action-Packed T...|  2006-01-01|              3|       4.99|   184|           24.99| NC-17|Trailers,Deleted ...|English             |
|PENELOPE GUINESS|          LADY STAGE|A Beautiful Chara...|  2006-01-01|              4|       4.99|    67|           14.99| PG   |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|     LANGUAGE COWBOY|A Epic Yarn of a ...|  2006-01-01|              5|       0.99|    78|           26.99| NC-17|Trailers,Deleted ...|English             |
|PENELOPE GUINESS|    MULHOLLAND BEAST|A Awe-Inspiring D...|  2006-01-01|              7|       2.99|   157|           13.99| PG   |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|    OKLAHOMA JUMANJI|A Thoughtful Dram...|  2006-01-01|              7|       0.99|    58|           15.99| PG   |Behind the Scenes...|English             |
|PENELOPE GUINESS|         RULES HUMAN|A Beautiful Epist...|  2006-01-01|              6|       4.99|   153|           19.99| R    |Deleted Scenes,Be...|English             |
|PENELOPE GUINESS|         SPLASH GUMP|A Taut Saga of a ...|  2006-01-01|              5|       0.99|   175|           16.99| PG   |Trailers,Commenta...|English             |
|PENELOPE GUINESS|   VERTIGO NORTHWEST|A Unbelieveable D...|  2006-01-01|              4|       2.99|    90|           17.99| R    |Commentaries,Behi...|English             |
|PENELOPE GUINESS| WESTWARD SEABISCUIT|A Lacklusture Tal...|  2006-01-01|              7|       0.99|    52|           11.99| NC-17|Commentaries,Dele...|English             |
|PENELOPE GUINESS|  WIZARD COLDBLOODED|A Lacklusture Dis...|  2006-01-01|              4|       4.99|    75|           12.99| PG   |Commentaries,Dele...|English             |
|   NICK WAHLBERG|    ADAPTATION HOLES|A Astounding Refl...|  2006-01-01|              7|       2.99|    50|           18.99| NC-17|Trailers,Deleted ...|English             |
+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
only showing top 20 rows

In [7]:
df.show()

+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
|      Actor Name|               title|         description|release_year|rental_duration|rental_rate|length|replacement_cost|rating|    special_features|       language name|
+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
|PENELOPE GUINESS|    ACADEMY DINOSAUR|A Epic Drama of a...|  2006-01-01|              6|       0.99|    86|           20.99| PG   |Deleted Scenes,Be...|English             |
|PENELOPE GUINESS|ANACONDA CONFESSIONS|A Lacklusture Dis...|  2006-01-01|              3|       0.99|    92|            9.99| R    |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|         ANGELS LIFE|A Thoughtful Disp...|  2006-01-01|              3|       2.99|    74|           15.99| G    |Trailers         ...|English             |
|PENELOPE GUINESS|BULWORTH COMMANDM...|A Amazing Display...|  2006-01-01|              4|       2.99|    61|           14.99| G    |Trailers         ...|English             |
|PENELOPE GUINESS|       CHEAPER CLYDE|A Emotional Chara...|  2006-01-01|              6|       0.99|    87|           23.99| G    |Trailers,Commenta...|English             |
|PENELOPE GUINESS|  COLOR PHILADELPHIA|A Thoughtful Pano...|  2006-01-01|              6|       2.99|   149|           19.99| G    |Commentaries,Behi...|English             |
|PENELOPE GUINESS|     ELEPHANT TROJAN|A Beautiful Panor...|  2006-01-01|              4|       4.99|   126|           24.99| PG-13|Behind the Scenes...|English             |
|PENELOPE GUINESS| GLEAMING JAWBREAKER|A Amazing Display...|  2006-01-01|              5|       2.99|    89|           25.99| NC-17|Trailers,Commenta...|English             |
|PENELOPE GUINESS|      HUMAN GRAFFITI|A Beautiful Refle...|  2006-01-01|              3|       2.99|    68|           22.99| NC-17|Trailers,Behind t...|English             |
|PENELOPE GUINESS|      KING EVOLUTION|A Action-Packed T...|  2006-01-01|              3|       4.99|   184|           24.99| NC-17|Trailers,Deleted ...|English             |
|PENELOPE GUINESS|          LADY STAGE|A Beautiful Chara...|  2006-01-01|              4|       4.99|    67|           14.99| PG   |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|     LANGUAGE COWBOY|A Epic Yarn of a ...|  2006-01-01|              5|       0.99|    78|           26.99| NC-17|Trailers,Deleted ...|English             |
|PENELOPE GUINESS|    MULHOLLAND BEAST|A Awe-Inspiring D...|  2006-01-01|              7|       2.99|   157|           13.99| PG   |Trailers,Deleted ...|English             |
|PENELOPE GUINESS|    OKLAHOMA JUMANJI|A Thoughtful Dram...|  2006-01-01|              7|       0.99|    58|           15.99| PG   |Behind the Scenes...|English             |
|PENELOPE GUINESS|         RULES HUMAN|A Beautiful Epist...|  2006-01-01|              6|       4.99|   153|           19.99| R    |Deleted Scenes,Be...|English             |
|PENELOPE GUINESS|         SPLASH GUMP|A Taut Saga of a ...|  2006-01-01|              5|       0.99|   175|           16.99| PG   |Trailers,Commenta...|English             |
|PENELOPE GUINESS|   VERTIGO NORTHWEST|A Unbelieveable D...|  2006-01-01|              4|       2.99|    90|           17.99| R    |Commentaries,Behi...|English             |
|PENELOPE GUINESS| WESTWARD SEABISCUIT|A Lacklusture Tal...|  2006-01-01|              7|       0.99|    52|           11.99| NC-17|Commentaries,Dele...|English             |
|PENELOPE GUINESS|  WIZARD COLDBLOODED|A Lacklusture Dis...|  2006-01-01|              4|       4.99|    75|           12.99| PG   |Commentaries,Dele...|English             |
|   NICK WAHLBERG|    ADAPTATION HOLES|A Astounding Refl...|  2006-01-01|              7|       2.99|    50|           18.99| NC-17|Trailers,Deleted ...|English             |
+----------------+--------------------+--------------------+------------+---------------+-----------+------+----------------+------+--------------------+--------------------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- Actor Name: string (nullable = true)
 |-- title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- release_year: date (nullable = true)
 |-- rental_duration: short (nullable = true)
 |-- rental_rate: decimal(4,2) (nullable = true)
 |-- length: integer (nullable = true)
 |-- replacement_cost: decimal(5,2) (nullable = true)
 |-- rating: string (nullable = true)
 |-- special_features: string (nullable = true)
 |-- language name: string (nullable = true)